#container,
#top {
    display: flex;
    flex-direction: column;
}

#bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input {
    margin: 5px;
    font-size: 18px;
    background-color: gainsboro;
}

img {
    margin: 5px;
    border-radius: 30px;
}

p {
    margin: 5px;
    font-size:large;
    color: blueviolet;
}

button {
    margin: 5px;
    font-size: 24px;
    border-radius: 15px;
}

a {
    color: black;
    font-size: x-large;
    margin: 5px;
    padding: 20px;
    border: 1px black dotted;
    border-radius: 20px;
    background-color: beige;
    text-decoration: none;
}